
<div>
  <%- include('./components/wrapper') %>
  <!-- Main Content -->
<!-- Main Content -->
<main class="flex-grow container mx-auto px-4 py-8">
<div class="flex justify-between items-center w-full mx-auto pb-4">
    <!-- Welcome text and subtext on the left -->
    <div class="flex flex-col">
        <h1 class="text-xl font-semibold mb-0.5" style="font-family: 'Cabin';">Dashboard</h1>
        <p class="text-gray-400 text-md">View your available resources and an overview of your account.</p>
    </div>

    <!-- Breadcrumbs on the right -->
    <nav aria-label="Breadcrumb" class="inline-flex py-2 px-4 rounded-xl bg-white/5 transition-colors duration-200">
        <ol role="list" class="flex items-center space-x-2">
            <li>
                <a href="#_" class="text-sm flex items-center gap-2 text-zinc-400 hover:text-zinc-200 transition-colors duration-200" aria-current="false">
                    <svg
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="icon icon-tabler size-4 icons-tabler-outline icon-tabler-home"
                    >
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M5 12l-2 0l9 -9l9 9l-2 0"></path>
                        <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path>
                        <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path>
                    </svg>
                    <span>Home</span>
                </a>
            </li>
            <li class="flex items-center">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right size-4 text-zinc-400"
                >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M9 6l6 6l-6 6"></path>
                </svg>
            </li>
            <li>
                <a href="#_" class="text-sm flex items-center gap-2 font-medium text-white/80 hover:text-white transition-colors duration-200" aria-current="page">
                    Dashboard
                </a>
            </li>
        </ol>
    </nav>
</div>

<!-- Content -->



<div id="dailyCoinsBanner" class="hidden w-full border-l-4 mt-2 mb-8 bg-white/5 border-white/10 rounded-r-2xl">
<div class="p-6">
<h2 class="text-white/90 text-lg font-semibold">Your daily reward is available.</h2>
<div class="space-y-5">
  <p class="text-white/60 text-sm leading-5">
    As a thank you for being a <%= name %> user, each day you can claim a reward of <%= name %>Coins (XPL)
  </p>
  <a class="transition hover:scale-95 cursor-pointer font-semibold gap-2 grow-0 items-center justify-center rounded-xl shrink-0 disabled:cursor-not-allowed inline-flex border focus:outline-none px-4 py-[9px] bg-emerald-700 border-emerald-700 text-white hover:bg-emerald-600 hover:border-emerald-600 focus:ring-4 focus:ring-emerald-900 disabled:bg-emerald-900 disabled:border-emerald-900 disabled:text-emerald-400 text-sm" href="/daily-coins">
    <span class="pointer-events-none shrink-0">Claim rewards</span>
  </a>
</div>
</div>
</div>
<!-- Welcome Message and Quick Links -->
<div class="w-full border-l-4 mt-2 mb-8 bg-orange-600/15 border-orange-600 rounded-r-2xl">
<div class="p-6">
<h2 class="text-white/90 text-lg font-semibold">Welcome back!</h2>
<div class="space-y-5">
  <p class="text-white/60 text-sm leading-5">
    From the <%= name %> dashboard, you can manage your wallet, deploy resources (ex. a server) and upgrade your deployments.
  </p>
  <a class="transition hover:scale-95 cursor-pointer font-semibold gap-2 grow-0 items-center justify-center rounded-xl shrink-0 disabled:cursor-not-allowed inline-flex border focus:outline-none px-4 py-[9px] bg-orange-700 border-orange-700 text-white hover:bg-orange-600 hover:border-orange-600 focus:ring-4 focus:ring-orange-900 disabled:bg-orange-900 disabled:border-orange-900 disabled:text-orange-400 text-sm" href="/create-server">
    <span class="pointer-events-none shrink-0">Get started</span>
  </a>
  <div class="flex flex-col xs:flex-row gap-3 items-start p-4 rounded-xl bg-white/5 text-orange-100" dismissable="false">
    <div class="shrink-0">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="block shrink-0 h-5 w-5">
<path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
</svg>

    </div>
    <div class="flex flex-col flex-auto gap-3 items-start md:flex-row md:items-center">
      <div class="flex-auto space-y-3">
        <div class="space-y-1">
          <h2 class="text-sm leading-5 font-semibold text-orange-100">Has someone asked you to join their server on <%= name %> as a subuser?</h2>
          <div class="text-sm leading-5 text-orange-100/70">
            <p class="">
              You'll need to ask them to invite you now that you've signed up.
              There's no need to do anything until you receive that.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<div>
  <dl class="mt-4 grid grid-cols-1 divide-y divide-white/5 overflow-hidden rounded-2xl bg-white/5 shadow md:grid-cols-3 md:divide-y-0 md:divide-x">
    <div class="px-4 py-5 sm:p-6">
      <dt class="text-base font-medium text-white">Available RAM</dt>
      <dd class="mt-1 flex items-baseline justify-between md:block lg:flex">
        <div class="flex items-baseline text-2xl font-semibold text-orange-500">
          <%= max.ram - existing.ram %>MB
        </div>
      </dd>
    </div>

    <div class="px-4 py-5 sm:p-6">
      <dt class="text-base font-medium text-white">Available CPU</dt>
      <dd class="mt-1 flex items-baseline justify-between md:block lg:flex">
        <div class="flex items-baseline text-2xl font-semibold text-orange-500">
          <%= max.cpu - existing.cpu %>%
        </div>
      </dd>
    </div>

    <div class="px-4 py-5 sm:p-6">
      <dt class="text-base font-medium text-white">Available Disk</dt>
      <dd class="mt-1 flex items-baseline justify-between md:block lg:flex">
        <div class="flex items-baseline text-2xl font-semibold text-orange-500">
          <%= max.disk - existing.disk %>MB
        </div>
      </dd>
    </div>
  </dl>
</div>
<%- include('./components/footer') %>